@import 'variables';
@import 'mixin';

.swiper-wrapper {
  align-items: stretch;
}

.section-events__swiper .swiper-slide {
  height: auto;
}

.section-gallery .swiper-button-disabled {
  opacity: .5;
  pointer-events: none;

  &:focus {
    svg {
      & path:first-child {
        stroke: transparent;
      }
    }
  }
}

.section-events .swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: $colorBorder;

  &-active {
    background: #666;
  }
}
