$colorTextLight: #fff;
$colorTextDark: #333;
$colorTextDescr: #999;
$colorFooterBackground: #000;
$colorBtn: #9d5cd0;
$colorFocus: #c283f3;
$colorFocusDark: #7943A4;
$colorFocusLight: #D1A9F0;
$colorBorder: #cacaca
